
hris/hris/obj/Debug/net6.0/project.razor.vscode.bin

.fake
hris/.vs/hris/FileContentIndex/462797e0-25ac-412c-b543-a668abac6508.vsidx
hris/.vs/hris/FileContentIndex/3f71e049-d0d1-4433-b8f6-983b089b110e.vsidx
hris/.vs/hris/FileContentIndex/3f582e46-8fb1-4f42-a334-1d49040d6fee.vsidx
hris/.vs/hris/FileContentIndex/3645f105-f1d2-4031-a8ff-6d728d148a48.vsidx
hris/.vs/hris/FileContentIndex/2083138e-e4eb-4a9d-b689-9f2d0fc733e0.vsidx
hris/.vs/hris/FileContentIndex/1abe9934-4347-4978-9610-c362074f0fba.vsidx
hris/.vs/hris/FileContentIndex/0fba084b-2e6e-458e-bcd6-2effc6dadf57.vsidx
hris/.vs/hris/FileContentIndex/0d61c032-1a4f-4cc5-ad03-19a7e2cfc32a.vsidx
hris/.vs/hris/DesignTimeBuild/.dtbcache.v2
hris/.vs/hris/FileContentIndex/852f6897-3bea-406c-b195-b8a2be348cd9.vsidx
hris/.vs/hris/FileContentIndex/a66016a3-c102-4958-98bd-d00ec91a4833.vsidx
hris/hris/obj/Debug/net6.0/apphost.exe
hris/hris/obj/Debug/net6.0/hris.AssemblyInfoInputs.cache
hris/hris/obj/Debug/net6.0/hris.assets.cache
hris/hris/obj/Debug/net6.0/hris.csproj.AssemblyReference.cache
hris/hris/obj/Debug/net6.0/hris.GeneratedMSBuildEditorConfig.editorconfig
hris/hris/obj/Debug/net6.0/hris.RazorAssemblyInfo.cache
hris/hris/obj/Debug/net6.0/project.razor.vs.bin
hris/hris/obj/Debug/net6.0/project.razor.vscode.bin
hris/hris/obj/project.nuget.cache
hris/.vs/hris/FileContentIndex/3f71e049-d0d1-4433-b8f6-983b089b110e.vsidx
hris/.vs/hris/FileContentIndex/3f582e46-8fb1-4f42-a334-1d49040d6fee.vsidx
hris/.vs/hris/FileContentIndex/3645f105-f1d2-4031-a8ff-6d728d148a48.vsidx
hris/.vs/hris/FileContentIndex/2083138e-e4eb-4a9d-b689-9f2d0fc733e0.vsidx
hris/.vs/hris/FileContentIndex/0d61c032-1a4f-4cc5-ad03-19a7e2cfc32a.vsidx
hris/.vs/hris/DesignTimeBuild/.dtbcache.v2
hris/hris/obj/Debug/net6.0/apphost.exe
hris/hris/obj/Debug/net6.0/hris.AssemblyInfoInputs.cache
hris/hris/obj/Debug/net6.0/hris.assets.cache
hris/hris/obj/Debug/net6.0/hris.csproj.AssemblyReference.cache
hris/hris/obj/Debug/net6.0/hris.GeneratedMSBuildEditorConfig.editorconfig
hris/hris/obj/Debug/net6.0/hris.RazorAssemblyInfo.cache
hris/hris/obj/Debug/net6.0/project.razor.vscode.bin
hris/hris/obj/project.nuget.cache
*.vsidx
*.cache
