<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="assets/css/line-awesome.min.css">
	<link rel="stylesheet" href="assets/css/material.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="assets/css/line-awesome.min.css">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<div class="sidebar-horizantal">
					<nav class='greedys '>
						<ul class="list-inline-item list-unstyled links">
							<li class="menu-title">
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span
										class="menu-arrow"></span></a>
								<ul>
									<li><a href="employee-dashboard.html">Employee Dashboard</a></li>
								</ul>
							</li>

							<li class="menu-title">
								<span>Employees</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span
										class="menu-arrow"></span></a>
								<ul>
									<li><a href="leaves-employee.html">Leaves (Employee)</a></li>

									<li><a href="attendance-employee.html">Attendance (Employee)</a></li>

								</ul>
							</li>

							<li class="submenu">
								<a href="#"><i class="la la-rocket"></i> <span> Tasks</span> <span
										class="menu-arrow"></span></a>
								<ul>
									<li><a href="tasks.html">Tasks</a></li>
								</ul>
							</li>




						</ul>
						<button class="viewmoremenu">More Menu</button>
						<ul class="hidden-links hidden">











							<li class="menu-title">
								<span>Pages</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-user"></i> <span> Profile </span> <span
										class="menu-arrow"></span></a>
								<ul>
									<li><a href="profile.html"> Employee Profile </a></li>
								</ul>
							</li>










						</ul>
					</nav>
				</div>
				<ul class="sidebar-vertical">
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span
								class="menu-arrow"></span></a>
						<ul>
							<li><a href="employee-dashboard.html">Employee Dashboard</a></li>
						</ul>
					</li>

					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span
								class="menu-arrow"></span></a>
						<ul>
							<li><a href="leaves-employee.html">Leaves (Employee)</a></li>

							<li><a href="attendance-employee.html">Attendance (Employee)</a></li>

						</ul>
					</li>

					<li class="submenu">
						<a href="#"><i class="la la-rocket"></i> <span> Tasks</span> <span
								class="menu-arrow"></span></a>
						<ul>
							<li><a href="tasks.html">Tasks</a></li>
						</ul>
					</li>




					<li class="menu-title">
						<span>Pages</span>
					</li>
					<li class="submenu">
						<a href="#"><i class="la la-user"></i> <span> Profile </span> <span
								class="menu-arrow"></span></a>
						<ul>
							<li><a href="profile.html"> Employee Profile </a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/js/jquery.slimscroll.min.js"></script>

	<!-- Chart JS -->
	<script src="assets/plugins/morris/morris.min.js"></script>
	<script src="assets/plugins/raphael/raphael.min.js"></script>
	<script src="assets/js/chart.js"></script>
	<script src="assets/js/greedynav.js"></script>

	<!-- Theme Settings JS -->
	<script src="assets/js/layout.js"></script>
	<script src="assets/js/theme-settings.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/app.js"></script>

</body>

</html>